body {
    background-color: #D9D9D9;
    font-family: Arial;
}

.center_container {
    background-color: #FFFFFF;
    width: fit-content;
    border: 2px ridge;
    margin: auto;
    margin-top: 100px;
}

.header {
    background-color: #4484CE;
    border-bottom: 2px ridge;
    padding: 10px 30px;
    color: #FFFFFF;
}

table {
    padding: 30px 90px;
}

td {
    padding-bottom: 10px;
}

button {
    padding: 2px 27px;
}

.lists_container {
    width: 48.5%;
    display: inline-block;
    margin: 0.5%;
    background-color: #FFFFFF;
    border: 2px ridge;
}

.lists_header {
    background-color: #4484CE;
    color: #FFFFFF;
    padding: 0px 20px;
    border-bottom: 2px ridge;
}

.actions {
    vertical-align: top;
    text-align: right;
    padding-left: 20px;
}

.username_logout {
    float: right;
    margin-top: 7px;
}

.lists_container h1 {
    display: inline-block;
}

.lists_container h3 {
    display: inline-block;
}

.lists_container button {
    display: inline-block;
}

.lists {    
    overflow-y: scroll;
}

select {
    text-align: right;
}

.bottom_form {
    padding-top: 20px;
}