<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bucketlist</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="../images/favicon.ico" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Bucketlist
                </a>                
            </div>
            <a class="navbar-text navbar-right logout" href="/logout">
                    Logout
                </a>
        </div>
    </nav>
    <div class="list-group list">
        <a href="#" class="list-group-item active"><b>{{bucket}}</b></a>
        
            {% if item!=None %}    
            <form method="POST" action="/items/{{bucket}}/{{item}}">
            <div class="list-group-item">   
            <input type="text" name="itemname" class="form-control list-add-row" value="{{item}}" required/>
            <select class="btn btn-default" name="status">
                {% if items[item].status=='Pending' %}
                <option value="Pending" selected>Pending</option>
                <option value="Done">Done</option>
                {% else %}
                <option value="Pending">Pending</option>
                <option value="Done" selected>Done</option>
                {% endif %}
            </select>

            <input type="submit" class="btn btn-default" name="submit" value="Save"/>
            {% else %}
            <form method="POST" action="/items/{{bucket}}">
            <div class="list-group-item">
            <input type="text" name="itemname" class="form-control list-add-row" placeholder="Enter item name here and click the add action on the right to add it to this bucket" required/>
            <input type="submit" class="btn btn-default" name="submit" value="Add" />
            {% endif %}
            </div></form>
       
       {% if items!=None %}
       {% for key, value in items.iteritems() %}
       {% if value.status=='Pending'%}
       <div class="list-group-item">                   
            <a href="/items/{{bucket}}/{{key}}/delete"><span class="glyphicon glyphicon-trash item-action" aria-hidden="true"> </span></a>
            <a href="/items/{{bucket}}/{{key}}/edit"><span class="glyphicon glyphicon-pencil item-action" aria-hidden="true"> </span></a>            
            <a href="#" class="">{{key}}</a>
       </div>
       {% else %}
       <div class="list-group-item list-group-item-success">                   
            <a href="/items/{{bucket}}/{{key}}/delete"><span class="glyphicon glyphicon-trash item-action" aria-hidden="true"> </span></a>
            <a href="/items/{{bucket}}/{{key}}/edit"><span class="glyphicon glyphicon-pencil item-action" aria-hidden="true"> </span></a>            
            <a href="#" class="">{{key}}</a>
       </div>
       {% endif %}
        {% endfor %}
        {% endif %}

    </div>
</body>

</html>